*{
    margin: 25px;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: #0a2239;
    color: #eff9f0;
}
header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    text-align: center;
}